{% load static %}
<script src="{% static "prism/prism.js" %}"></script>
<link rel="stylesheet" type="text/css" href="{% static "prism/prism.css" %}">

<div class="modal" id="cssModal" tabindex="-1">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Kod CSS motywu {{ theme.name }}</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <pre><code class="language-css">{{ theme.css }}</code></pre>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Zamknij</button>
      </div>
    </div>
  </div>
</div>