{% extends 'base.html' %}
{% block body %}
    <link rel="stylesheet" href="https://unpkg.com/swiper@8/swiper-bundle.min.css"/>
    <script src="https://unpkg.com/swiper@8/swiper-bundle.min.js"></script>
    <h1 class="text-center">VIthemes - motywy dla itemshopu <a href="https://vishop.pl" target="_blank">VIshop.pl</a></h1>
    <div class="most-popular-section swiper mt-4">
        <h2>Najbardziej lubiane motywy</h2>
        <div class="most-popular-content d-flex flex-row justify-center swiper-wrapper">
        {% for theme in popular_themes %}
            {% include 'theme_card.html' %}
        {% endfor %}
    </div>

    <div class="newest-section mt-4 swiper">
        <h2>Najnowsze motywy</h2>
        <div class="newest-content d-flex flex-row justify-center swiper-wrapper">
            {% for theme in themes|dictsortreversed:"created_at" %}
                {% include 'theme_card.html' %}
            {% endfor %}
        </div>
    </div>

    <script>
      var swiper = new Swiper(".swiper", {
        slidesPerView: 4,
        freeMode: true,
        spaceBetween: 50,
        breakpoints: {
            0: {
                slidesPerView: 1,
                spaceBetween: 50
            },
            450: {
                slidesPerView: 2,
                spaceBetween: 150
            },
            600: {
                slidesPerView: 2,
                spaceBetween: 100
            },
            995: {
                slidesPerView: 3,
                spaceBetween: 0
            },
            1200: {
                slidesPerView: 4,
                spaceBetween: 50
            }
        }
      });
    </script>
{% endblock %}